.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.container::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.container::before,
.container::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.container > * {
  z-index: 1;
}

.container h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.9px;
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  text-align: center;
  background-color: rgba(34, 89, 255, 0.904);
  color: white;
  border-radius: 2px;
  margin: 1.5rem 0;
}
